h1 {
  text-align: center;
}

h2 {
  color: red;
    text-align: center;
}

th {
  display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    background-color: #fa8072;
}

table {
  border: 2px solid red;
    width: 650px;
    margin: 0 auto;
}

td { 
  border-top: 1px solid red;
}

.code {
  font-family: monospace;
    background-color: beige;
}
tr {
      display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  
}